<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smile.guodian">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ui.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/iclauncher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="包名.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.smile.guodian.ui.activity.GuideActivity"
            android:theme="@style/Full">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.smile.guodian.ui.activity.DetailActivity"></activity>
        <!--<activity-->
        <!--android:name="com.smile.guodian.ui.activity.GuideActivity"-->
        <!--android:theme="@style/Full"></activity>-->
        <activity android:name="com.smile.guodian.ui.activity.MainActivity"></activity>
        <activity android:name="com.smile.guodian.ui.activity.MyBrowserActivity" />
        <activity android:name="com.smile.guodian.ui.activity.MyCollectionActivity" />
        <activity
            android:name="com.smile.guodian.ui.activity.LoginActivity"
            android:exported="true" />
        <activity android:name="com.smile.guodian.ui.activity.RegisterActivity" />
        <activity android:name="com.smile.guodian.ui.activity.ForgetPassword" />
        <activity android:name="com.smile.guodian.ui.activity.ResetPassword" />
        <activity android:name="com.smile.guodian.ui.activity.FastLoginActivity" />
        <activity android:name=".ui.activity.ProductActivity" />
        <activity android:name=".ui.activity.CategoryProductActivity"></activity>
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.WebActivity" />
        <activity android:name=".ui.activity.me.SettingActivity" />
        <activity android:name=".ui.activity.me.PersonActivity" />
        <activity android:name=".ui.activity.me.PersonNameActivity" />
        <activity
            android:name=".ui.activity.me.MessageActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.ClipImageActivity" />
        <activity android:name=".ui.activity.me.BindPhoneActivity" />
        <activity android:name=".ui.activity.found.FoundDetailActivity" />
        <activity android:name=".ui.activity.me.AcountActivity" />
        <activity android:name=".ui.activity.me.ModifyLoginPassword" />
        <activity android:name=".ui.activity.message.NewMessageActivity" />
        <activity android:name=".ui.activity.message.MessageCenterActivity" />
        <activity android:name=".ui.activity.me.AddressActivity" />
        <activity android:name=".ui.activity.me.EditAddressActivity" />
        <activity android:name=".ui.activity.me.ModifyPayPassword" />
        <activity android:name=".ui.activity.me.ChangePhoneActivity" />
        <activity android:name=".ui.activity.me.ChangePhone1Activty" />
        <activity android:name=".ui.activity.me.ChangePhone2Activity" />
        <activity android:name=".ui.activity.EmptyActiity" />
    </application>

</manifest>